.vertical-align {
  display: inline-block !important;
  vertical-align: middle;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  #login-dropdown .dropdown-menu {
    width: 300px;
    padding: 15px;
  }
}
